@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@900&display=swap');

html, body {
  font-family: 'Bebas Neue', sans-serif;
}

#loadingBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #edacf0;
  z-index: 1000;
  transition: width 0.3s ease;
}

/* Background.css */

/* Background.css */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.background:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(228, 105, 255, 0.4); /* rosa, halbtransparent */
  transition: background 0.5s; /* Animationseffekt beim Scrollen */
}

.background.scrolling:before {
  background: rgb(255, 0, 0); /* rot, weniger transparent beim Scrollen */
}



.header-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: max-content;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);
  text-align: left;
}

.header-text {
  margin: 0;
  padding: 20px;
  transition: all 0.6s;
  color: antiquewhite;  
  opacity: 1;
}


.fixed-title {
  position: fixed;
  top: 10px; /* Je nachdem, wo du den Titel haben möchtest. */
  left: 50%;
  transform: translateX(-50%);
  width: calc(90vw); /* Das entspricht der max-width deines Akkordeons. */
  text-align: center;
  font-size: 120px; /* Oder die gewünschte Größe. */
  z-index: 0; /* Damit der Titel über anderen Elementen liegt. */
  transition: color 0.5s, opacity 0.3s;
  color: white;
}

.fixed-title.scrolled {
  color: red;
  opacity: 0.4; /* Halbtransparent. */
  
}


.akkordion-wrapper {
 
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
   
    min-width: 20vw;
    max-width: 90vw;
    color: antiquewhite;
    border: none;
    margin-top: 30px;
    margin-bottom: 20vh;
}

.accordion-item {
    border-top: 1px solid #eee;
    position: relative;
}

.accordion-header {
    cursor: pointer;
    position: relative;
    text-align: left;
    line-height: 1.5;
    transition: color 0.3s;
    -webkit-tap-highlight-color: rgba(255,182,193,0.2); 
}
.accordion-header:hover {
   color: rgb(252, 228, 180);
}


.accordion-close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: antiquewhite;
}

.accordion-body {
    padding: 10px 0;
    background: transparent;
}

.image-content {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  border-radius: 10px;
  z-index: 1;
  opacity: 0.7;
  margin-bottom: 2vh;
}

.accordion-table {
  width: 100%;
  border-spacing: 0px 8px;
  color: antiquewhite;
}

.accordion-table td {
  background-color: transparent;
  vertical-align: top;
  padding-top: 20px;
  padding-bottom: 20px;
}


.accordion-table td:first-child {
  text-align: left; 
  padding-right: 30px;
}

.cv-überschrift {
  color: rgb(252, 228, 180);
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*responsive*/

@media only screen and (max-width: 480px) {
  .accordion {
    width: calc(100vw - 15vw);
  }
  .akkordion-wrapper {
    padding-top: 30vh;
  }
  .accordion-text {
    font-size: 1.2rem;
  }
  .accordion-header {
    font-size:1.5rem;
    padding: 5px 0;
  }
  .cv-title {
    font-size: 1.3rem;
  }
  .accordion-table td { 
    font-size: 1rem; 
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .accordion {
    width: calc(100vw - 20vw);
  }
  .akkordion-wrapper {
    padding-top: 30vh;
  }
  .accordion-text {
    font-size: 1.3rem;
  }
  .accordion-header {
    font-size:1.6rem;
    padding: 8px 0;
  }
  .cv-title {
    font-size: 1.4rem;
  }
  .accordion-table td { 
    font-size: 1.1rem; 
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .accordion {
    width: calc(100vw - 40vw);
  }
  .akkordion-wrapper {
    padding-top: 30vh;
  }
  .accordion-text {
    font-size: 1.3rem;
  }
  .accordion-header {
    font-size:1.7rem;
    padding: 9px 0;
  }
  .cv-title {
    font-size: 1.5rem;
  }
  .accordion-table td { 
    font-size: 1.2rem; 
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .accordion {
    width: calc(100vw - 40vw);
  }
  .akkordion-wrapper {
    padding-top: 30vh;
  }
  .accordion-text {
    font-size: 1.4rem;
  }
  .accordion-header {
    font-size:2rem;
    padding: 9px 0;
  }
  .cv-title {
    font-size: 1.6rem;
  }
  .accordion-table td { 
    font-size: 1.3rem; 
  }
}

@media only screen and (min-width: 1201px) {
  .accordion {
    width: calc(100vw - 55vw);
  }
  .akkordion-wrapper {
    padding-top: 30vh;
  }
  .accordion-text {
    font-size: 1.4rem;
  }
  .accordion-header {
    font-size:2rem;
    padding: 9px 0;
  }
  .cv-title {
    font-size: 1.6rem;
  }
  .accordion-table td { 
    font-size: 1.3rem; 
  }
}

@media only screen and (min-width: 2560px) and (max-width: 3440px) {
  .accordion {
    width: calc(100vw - 60vw);
  }
  .akkordion-wrapper {
    padding-top: 30vh;
  }
  .accordion-text {
    font-size: 1.4rem;
  }
  .accordion-header {
    font-size:2rem;
    padding: 9px 0;
  }
  .cv-title {
    font-size: 1.6rem;
  }
  .accordion-table td { 
    font-size: 1.3rem; 
  }
}