@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@900&display=swap');

html, body {
  
  font-family: 'Bebas Neue', sans-serif;
}




#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ändern von 100vh zu 100% */
    background: transparent;
    z-index: 0;
    transition: background 0.8s ease;
  }

  /* headtitle */


  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;  /* Damit es die gesamte Höhe einnimmt */
    width: max-content; /* Nur so breit wie der Inhalt */
    transform-origin: top left; /* Punkt der Drehung */
    transform: rotate(-90deg) translateX(-100%); /* 90 Grad Drehung und Verschiebung nach oben */
    text-align: left;  /* Nicht zentriert, da es am Rand ist */
  }
 

  
  
  .header-text {
    margin: 0;
    padding: 20px;
    transition: all 0.6s;
    color: antiquewhite;  
  }



  /*content-accordion*/

  .akkordion-wrapper {
    padding-top: 30vh;
    display: flex;
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center;     /* Vertikale Zentrierung */
     /* Nimm die gesamte Bildschirmhöhe ein */
  
    
}

  .accordion {
 /* Abstand nach oben */
 
    
    width: calc(100vw - 40vw); /* Responsive Breite */
    min-width: 20vw; /* Mindestbreite */
    max-width: 90vw; /* Maximale Breite */
    color: antiquewhite; /* Schriftfarbe */
    border: none;
    font-size: 1.5em;
    margin-top: 30px;    
   
}

.accordion-item {
    border-top: 1px solid #eee;
    position: relative;
}

.accordion-header {
    cursor: pointer;
    padding: 10px 0; /* Vertikales Padding, horizontales auf 0 setzen */
    position: relative;
    text-align: left; /* Linksbündig */
    line-height: 1.5;
    font-size:2rem;
    transition: color 0.3s; /* Übergangseffekt */
    -webkit-tap-highlight-color: rgba(255,182,193,0.2); 
}


.accordion-close {
    position: absolute;
    right: 10px; /* Position rechts */
    top: 50%;
    transform: translateY(-50%); /* Vertikal zentrieren */
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: 0;
    color: antiquewhite;
}

.accordion-body {
    padding: 10px 0; /* Vertikales Padding, horizontales auf 0 setzen */
    background: transparent; /* Kein Hintergrund */
}


.image-content {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  border-radius: 10px;
  z-index: 1;
  opacity: 0.7;
  margin-bottom: 14vh;

  
}



/*accordion tabelle*/ 

.accordion-table {
  width: 100%;
  border-spacing: 0px 15px; /* 15px horizontaler Abstand, 10px vertikaler Abstand */
  color: antiquewhite;
  
}

.accordion-table td {

   /* Erhöhen Sie das horizontale padding für mehr Abstand zwischen den Spalten */
  background-color: transparent;
  vertical-align: top; /* Text wird oben ausgerichtet */

}
.accordion-table tr:hover td:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.2);
  
}

.accordion-table td:first-child {
  text-align: left; 
  padding-right: 20px;
}


/*responsive*/


/* Standardmäßige Styles */

/* Styles für Bildschirme mit einer Breite von 768px oder weniger (typische Tablet-Größe) */
@media screen and (max-width: 768px) {
  .header-text {
      font-size: 1.2rem;
      padding: 10px;
  }

  .accordion {
      font-size: 1.2em;
      width: 90vw; 
  }

  .accordion-header {
      font-size: 1.5rem;
  }
}

/* Allgemeine Stildefinitionen (Desktop/Tablets) ... */

/* Spezifische Styles für Mobiltelefone */
@media screen and (max-width: 480px) {
  /* Generelle Anpassungen */
  .header-text {
      font-size: 0.9rem;
      padding: 5px;
  }

  /* Anpassungen für das Akkordion */
  .accordion {
      font-size: 1em;
      width: 90vw; 
      margin-top: 15px;    
  }

  .accordion-header {
      font-size: 1.2rem;
  }

  .accordion-table td:first-child {
      padding-right: 10px;
  }

  .image-content {
      margin-bottom: 8vh; 
  }
}
